<ion-tabs>
  <!-- 标签栏固定在底部 -->
  <ion-tab-bar slot="bottom">
    <!-- 清单列表页标签 -->
    <ion-tab-button tab="list">
      <ion-icon name="list-outline"></ion-icon>
      <ion-label>清单</ion-label>
    </ion-tab-button>
    
    <!-- 添加记录页标签 -->
    <ion-tab-button tab="add">
      <ion-icon name="add-circle-outline"></ion-icon>
      <ion-label>添加</ion-label>
    </ion-tab-button>
    
    <!-- 编辑页标签 -->
    <ion-tab-button tab="edit">
      <ion-icon name="create-outline"></ion-icon>
      <ion-label>编辑</ion-label>
    </ion-tab-button>
    
    <!-- 隐私页标签 -->
    <ion-tab-button tab="privacy">
      <ion-icon name="shield-checkmark-outline"></ion-icon>
      <ion-label>隐私</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>